[submodule "assets/projects/coding/anime-quotes"]
	path = assets/projects/coding/anime-quotes
	url = https://github.com/SoyDanielRomero/anime-quotes.git
[submodule "assets/projects/coding/cute-atm"]
	path = assets/projects/coding/cute-atm
	url = https://github.com/SoyDanielRomero/cute-atm.git
[submodule "assets/projects/coding/EyeExercise"]
	path = assets/projects/coding/EyeExercise
	url = https://github.com/SoyDanielRomero/EyeExercise.git
[submodule "assets/projects/coding/holy-grail-layout-react"]
	path = assets/projects/coding/holy-grail-layout-react
	url = https://github.com/SoyDanielRomero/holy-grail-layout-react.git
[submodule "assets/projects/coding/PacMenExercise"]
	path = assets/projects/coding/PacMenExercise
	url = https://github.com/SoyDanielRomero/PacMenExercise.git
[submodule "assets/projects/coding/RealTimeBusTracker"]
	path = assets/projects/coding/RealTimeBusTracker
	url = https://github.com/SoyDanielRomero/RealTimeBusTracker.git
[submodule "assets/projects/coding/todolist"]
	path = assets/projects/coding/todolist
	url = https://github.com/SoyDanielRomero/todolist.git
[submodule "assets/projects/coding/tik-tak-toe"]
	path = assets/projects/coding/tik-tak-toe
	url = https://github.com/SoyDanielRomero/tik-tak-toe.git
[submodule "assets/projects/coding/badbank"]
	path = assets/projects/coding/badbank
	url = https://github.com/SoyDanielRomero/badbank.git
[submodule "assets/projects/coding/shopping-cart"]
	path = assets/projects/coding/shopping-cart
	url = https://github.com/SoyDanielRomero/shopping-cart.git
[submodule "assets/projects/coding/daniel-romerobankingapplication"]
	path = assets/projects/coding/daniel-romerobankingapplication
	url = https://github.com/SoyDanielRomero/daniel-romerobankingapplication.git