/* Generales */
body{
    display: block;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", Sans-serif;
}
p{
    color:#2c2c2c;
    font-size: 16px;
    font-weight: 300;
    margin:2% 0;
    letter-spacing: 0.5px;
}
h2{
    color:#ff0066;
    text-transform:capitalize;
    font-weight: 600;
}
h3{
    color: #6600ff;
    text-transform: capitalize;
    font-size: 1.3em;
}
button{
    border-radius: 50px!important;
}
/* End Generales */

/* Nav Bar */
nav{
    background-color: transparent;
}

.navbar-brand img {
    max-height: 60px;
}

nav ul li a {
    color:white;
    font-size: 20px;
    margin: auto 10px;
    font-weight: 600;
}

nav ul li a:hover{
    color:white;
    border-bottom: 3px solid white;
    padding: 10px 0px;
}

/* sticky nav bar */
.fixed-top{
    opacity: 0.9;
    background-image: linear-gradient(100deg,#6600ff 0%,#ff0066 89%);
}
/* End Sticky nav bar */

/* toggler */
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem white;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* End toggler */
/* End Nav Bar */
/* Hero Section */

#hero h1{
    text-transform:capitalize;
    font-weight: 700;
    color: white;
    line-height: 1.3em;
    letter-spacing: 1px;
}
#hero p{
    color: white;
}
/* Botones Hero */
#hero .btn-primary{
    background-color: #ff0066!important;
    border-color:#ff0066!important;
    box-shadow:0px 0px 30px 0px rgba(102, 0, 255, 0.5)!important;
}
#hero .btn-primary:hover{
    background-color: #6600ff!important;
    border-color:#6600ff!important;
    box-shadow:0px 0px 30px 0px rgba(255, 0, 102, 0.5)!important;
    padding-left: 5%;
    padding-right: 5%;
}
#hero button{
    max-width:40%;
    border-radius: 50px!important;
    align-items: flex-end!important ;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: 400;
    letter-spacing: 0.5px;
}
#hero button span {
    cursor:pointer!important;
}
#hero .heroButtons{
    display: flex;
    justify-content: space-evenly;
    margin-top:4vh;
    z-index: 2;
}
/* End Botones Hero */
#hero .col{
    justify-content: center;
    flex-direction: column;
    display: flex;
}
#hero .img-col{
    margin-top: 30px;
}
#hero img{
    max-width: 100%;
    width:70%;
    margin-left:8vw;
    border-radius: 200px 80px 80px 80px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
#hero{
    position:relative!important;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: transparent;
    background-image: linear-gradient(100deg,#6600ff 0%,#ff0066 89%);
}
/* End Hero Section */

/* divider code from shapedivider.app  */
.custom-shape-divider-bottom-1618785263 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1618785263 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1618785263 .shape-fill {
    fill: #FFFFFF;
}
/* end divider */

/* Estudios Section */
#estudios{
    margin:5vh 0;
}
#estudios h2{
    margin:2em 0;
    text-align: center;
}
/* logo slider */
/* Slider code from solodev.com */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* end logo slider */
/* End Estudios Section */

/* Valores Section */
#valores .col{
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#valores img{
    max-width: 100%;
    width:70%;
    margin-left:5vw;
    border-radius: 200px 80px 80px 80px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
#valores h2{
    margin:0;
    text-align: left;
}
#valores {
    padding-top: 50px;
    padding-bottom: 100px;
}
/* End Valores Section */

/* Soluciones Section */
#soluciones .card{
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.13);
    border:0;
    text-align: center;
    width:100%;
    border-radius: 15px 15px 15px 70px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
#soluciones .card-body{
    padding: 10%;
}
#soluciones .icon{
    width:100px;
    height:90px;
    margin-bottom:20px;
}
#soluciones .card-title{
    color:#ff0066;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}
#soluciones .card-text{
    margin:20px 0;
    text-align: left;
}
#soluciones button{
    background-color: #6600ff!important;
    border-color: #6600ff!important;
    padding-left: 4%;
    padding-right: 4%;
}
#soluciones button:hover{
    background-color: #ff0066!important;
    border-color: #ff0066!important;
    box-shadow:0px 0px 20px 0px rgba(255, 0, 102, 0.5)!important;
    padding-left: 5%;
    padding-right: 5%;
}

#soluciones .cards{
    margin:80px 0;
}
/* End Soluciones Section */

/* Banner */
#banner p{
    color: white;
}
#banner .col{
    justify-content: center;
    flex-direction: column;
    display: flex;
}
/*#banner .img-col{
    margin-top: 30px;
}*/
#banner img{
    max-width: 100%;
    width:70%;
    margin-left:5vw;
    border-radius: 200px 80px 80px 80px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
#banner{
    position:relative!important;
    padding-top: 60px;
    padding-bottom: 90px;
    background-color: transparent;
    background-image: linear-gradient(100deg,#6600ff 0%,#ff0066 89%);
}
#banner h2{
    color:white;
}
/* Botones Hero */
#banner .btn-primary{
    background-color: #ff0066!important;
    border-color:#ff0066!important;
    box-shadow:0px 0px 30px 0px rgba(102, 0, 255, 0.5)!important;
}
#banner .btn-primary:hover{
    background-color: #6600ff!important;
    border-color:#6600ff!important;
    box-shadow:0px 0px 30px 0px rgba(255, 0, 102, 0.5)!important;
    padding-left: 5%;
    padding-right: 5%;
}
#banner button{
    max-width:40%;
    border-radius: 50px!important;
    align-items: flex-end!important ;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: 400;
    letter-spacing: 0.5px;
}
#banner button span {
    cursor:pointer!important;
}
#banner .heroButtons{
    display: flex;
    justify-content: space-evenly;
    margin-top:4vh;
    z-index: 2;
}
/* End Botones Hero */
/* End Banner */
/* Portfolio */
#portfolio .row{
    margin:50px 0;
}
#portfolio .col-sm-3{
    border-radius: 15px;
}
#portfolio .card{
    border:none;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.13);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
#portfolio .card-img{
    border-radius: 15px;
}
#portfolio .card-img-overlay{
    opacity: 0;
    border-radius: 15px;
}
#portfolio .card-img-overlay:hover{
    opacity: 1;
    background-color: #6600ffee;
    cursor: pointer;
}
#portfolio .card-title{
    color:white;
    font-weight: 500!important;
    font-size: 24px;
    margin-top: 17.5%;
    text-align: center;
}
#portfolio .two-lines{
    margin-top:10%!important;
}
#portfolio .card-text{
    margin-top: auto;
}
#portfolio small{
    background-color: white;
    font-size: 0.8em;
    color: #ff0066;
    font-weight: 500;
    border-radius: 0.5rem;
    padding:3px 5px;
    margin:0 3px;
}
#portfolio .col h3, #portfolio .col h2{
    text-align: center;
}
#portfolio button{
    text-transform: capitalize;
    background-color: #6600ff!important;
    border-color: #6600ff!important;
    padding-left: 4%;
    padding-right: 4%;
    margin:0 auto;
}
#portfolio button:hover{
    background-color: #ff0066!important;
    border-color: #ff0066!important;
    box-shadow:0px 0px 20px 0px rgba(255, 0, 102, 0.5)!important;
    padding-left: 5%;
    padding-right: 5%;
}
/* End Portfolio*/

/* Banner */
#banner2 p{
    color: white;
}
#banner2 .col{
    justify-content: center;
    flex-direction: column;
    display: flex;
}
#banner2 img{
    max-width: 100%;
    width:70%;
    margin-left:5vw;
    margin-top: 4vh;
    border-radius: 200px 80px 80px 80px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
#banner2{
    position:relative!important;
    padding-top: 10px;
    padding-bottom: 90px;
    background-color: transparent;
    background-image: linear-gradient(100deg,#6600ff 0%,#ff0066 89%);
    margin-top: 80px;
}
#banner2 h2{
    color:white;
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
}
/* Botones Hero */
#banner2 .btn-primary{
    background-color: #ff0066!important;
    border-color:#ff0066!important;
    box-shadow:0px 0px 30px 0px rgba(102, 0, 255, 0.5)!important;
}
#banner2 .btn-primary:hover{
    background-color: #6600ff!important;
    border-color:#6600ff!important;
    box-shadow:0px 0px 30px 0px rgba(255, 0, 102, 0.5)!important;
    padding-left: 5%;
    padding-right: 5%;
}
#banner2 button{
    max-width:60%;
    border-radius: 50px!important;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#banner2 .heroButtons{
    display: flex;
    justify-content: space-evenly;
    margin-top:4vh;
    z-index: 2;
}
/* End Botones Hero */
/* divider code from shapedivider.app  */
#banner2 .custom-shape-divider-bottom-1618785263 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}
/* end divider */
/* End Banner */

/* Contacto */
#contacto .row{
    margin:100px 0px;
} 
#contacto .col h3, #contacto .col h2{
    text-align: center;
}
/* End Contacto */